<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavtwo.toggle()"
    [ngClass]="{ hidden: !deviceSm }">
    <fa-icon aria-label="Side nav toggle icon" [icon]="menu" size="lg"></fa-icon>
  </button>
  <span>Google APIs</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenavtwo [opened]="!deviceSm" role="navigation" [mode]="!deviceSm ? 'side' : 'over'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['menu']">Google Classroom</a>
      <a mat-list-item [routerLink]="['covid-risk']">Apps Script</a>
      <a mat-list-item [routerLink]="['return-to-normal']">Sheets</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
