<div class="px-3 py-3">
  <div fxLayout="column" fxLayoutAlign="left">
    <p class="display-4">Google Classroom</p>
    <p class="mat-h1 text-black-50">
    </p>
  </div>
</div>
<div fxLayoutAlign="center center">
  <mat-spinner *ngIf="(loading$ | async)"></mat-spinner> <!-- && (!loading$|async)-->
</div>

<div *ngIf="!(loading$ | async)" class="px-3" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px"
  fxLayoutAlign="flex-start">
  <div fxFlex="0 1 calc(50% - 10px)" fxFlex.lt-md="100%">

    <app-course-table [courses]="courses$ | async"></app-course-table>
    <!--
    Clases @NGRX
    <app-courses-list [courses]="courses$ | async" (courseDeleted)="onCourseDelete($event)"
      (courseEdited)="onCourseEdit($event)"></app-courses-list> -->

  </div>
  <div fxFlex="0 1 calc(50% - 10px)" fxFlex.lt-md="100%">
    Clases google API
    <button mat-raised-button color="primary" (click)="googleApiService.listCourses()">Load courses</button>


    <mat-card [class.mat-elevation-z6]="false" *ngFor="let item of googleApiService.courses">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--  <button mat-raised-button color="warn" (click)="googleApiService.getCalendar()">Calendar</button>
        <button mat-raised-button color="accent" (click)="googleApiService.insertEvent()">Add Event</button>
        <div *ngFor="let item of googleApiService.calendarItems">
          <h3>{{item.summary}} - {{item.status}}</h3>
          <p><em>Created {{item.created}}</em></p>
          <p>{{item.description}}</p>
          <hr>
        </div> -->

      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="py-5">
  <!-- <button mat-buttom color="primary" class="ml-3" (click)="openAddCourseModal()">Nuevo curso</button> -->
  <!--
 -->
  <!--  <div *ngIf="!loaded$ | async" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
    <div class="" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
</div>
}
